main.inicioSesion {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
  background-color: #E0DED1;
  color: #E0DED1;
  padding-top: 0px;
  flex: 1;
  margin-bottom: 50px;
}